.elementor-21917 .elementor-element.elementor-element-7e3127b3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 15px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 999;
}

.elementor-21917 .elementor-element.elementor-element-7e3127b3.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-21917 .elementor-element.elementor-element-4cea5035 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 40px;
    --padding-right: 40px;
}

.elementor-21917 .elementor-element.elementor-element-4cea5035:not(.elementor-motion-effects-element-type-background),
.elementor-21917 .elementor-element.elementor-element-4cea5035>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-e870969);
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-21917 .elementor-element.elementor-element-65399354 {
    width: var(--container-widget-width, 305px);
    max-width: 305px;
    --container-widget-width: 305px;
    --container-widget-flex-grow: 0;
}

.elementor-21917 .elementor-element.elementor-element-65399354>.elementor-widget-container {
    margin: 0px 0px -5px 0px;
}

.elementor-21917 .elementor-element.elementor-element-65399354.elementor-element {
    --align-self: flex-end;
}

.elementor-21917 .elementor-element.elementor-element-65399354 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-21917 .elementor-element.elementor-element-65399354 .elementor-icon {
    font-size: 100%;
}

.elementor-21917 .elementor-element.elementor-element-65399354 .elementor-icon svg {
    height: 100%;
}

.elementor-21917 .elementor-element.elementor-element-65399354 .elementor-icon-wrapper svg {
    width: 100%;
}

.elementor-21917 .elementor-element.elementor-element-3c6f5e0c.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-21917 .elementor-element.elementor-element-3c6f5e0c .elementor-icon-wrapper {
    text-align: center;
}

.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-text);
    fill: var(--e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var(--e-global-color-accent);
}

.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after {
    border-color: var(--e-global-color-accent);
}

.elementor-widget-nav-menu {
    --e-nav-menu-divider-color: var(--e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-21917 .elementor-element.elementor-element-5e717115 {
    width: auto;
    max-width: auto;
}

.elementor-21917 .elementor-element.elementor-element-5e717115.elementor-element {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu .elementor-item {
    font-family: "Lato", Sans-serif;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-secondary);
    fill: var(--e-global-color-secondary);
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--main .elementor-item:hover,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-primary);
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown a,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-menu-toggle {
    color: var(--e-global-color-primary);
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown {
    background-color: #FFFFFF00;
    border-radius: 10px 10px 10px 10px;
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown a:hover,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown a.highlighted,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-menu-toggle:hover {
    color: var(--e-global-color-e870969);
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown a:hover,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #FFFFFF00;
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var(--e-global-color-e870969);
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown .elementor-item,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: none;
    border-bottom-width: 0px;
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 10px !important;
}

.elementor-21917 .elementor-element.elementor-element-3c850fa4 {
    --display: flex;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.elementor-21917 .elementor-element.elementor-element-3c850fa4:not(.elementor-motion-effects-element-type-background),
.elementor-21917 .elementor-element.elementor-element-3c850fa4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-e870969);
}

.elementor-21917 .elementor-element.elementor-element-3c850fa4.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-21917 .elementor-element.elementor-element-2a99e190 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 {
    width: auto;
    max-width: auto;
}

.elementor-21917 .elementor-element.elementor-element-61d098d4.elementor-element {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu .elementor-item {
    font-family: "Lato", Sans-serif;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-secondary);
    fill: var(--e-global-color-secondary);
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--main .elementor-item:hover,
.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-primary);
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown a,
.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-menu-toggle {
    color: var(--e-global-color-primary);
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown {
    background-color: #02010100;
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown a:hover,
.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown a.highlighted,
.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-menu-toggle:hover {
    color: var(--e-global-color-e870969);
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown a:hover,
.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #02010100;
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var(--e-global-color-e870969);
}

.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown .elementor-item,
.elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-21917 .elementor-element.elementor-element-3c850fa4 {
        --width: 50%;
    }
}

@media(min-width:2400px) {
    .elementor-21917 .elementor-element.elementor-element-7e3127b3 {
        --z-index: 98;
    }

    .elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-primary-font-size);
    }

    .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
    .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-text-font-size);
    }
}

@media(max-width:1366px) {
    .elementor-21917 .elementor-element.elementor-element-4cea5035 {
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-21917 .elementor-element.elementor-element-65399354.elementor-element {
        --align-self: center;
    }

    .elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-primary-font-size);
    }

    .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
    .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-21917 .elementor-element.elementor-element-5e717115 {
        width: auto;
        max-width: auto;
    }

    .elementor-21917 .elementor-element.elementor-element-5e717115.elementor-element {
        --flex-grow: 0;
        --flex-shrink: 1;
    }

    .elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4 {
        width: var(--container-widget-width, 100%);
        max-width: 100%;
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4.elementor-element {
        --flex-grow: 0;
        --flex-shrink: 1;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--main .elementor-item {
        padding-left: 0px;
        padding-right: 0px;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-text-font-size);
    }
}

@media(max-width:1024px) {
    .elementor-21917 .elementor-element.elementor-element-7e3127b3 {
        --z-index: 98;
    }

    .elementor-21917 .elementor-element.elementor-element-4cea5035 {
        --justify-content: space-between;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 40px;
        --padding-right: 040px;
    }

    .elementor-21917 .elementor-element.elementor-element-3c6f5e0c {
        width: initial;
        max-width: initial;
    }

    .elementor-21917 .elementor-element.elementor-element-3c6f5e0c .elementor-icon {
        font-size: 40px;
    }

    .elementor-21917 .elementor-element.elementor-element-3c6f5e0c .elementor-icon svg {
        height: 40px;
    }

    .elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-primary-font-size);
    }

    .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
    .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-21917 .elementor-element.elementor-element-3c850fa4 {
        --flex-direction: column;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --justify-content: space-between;
        --align-items: flex-end;
        --border-radius: 20px 20px 20px 20px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-21917 .elementor-element.elementor-element-3c850fa4.e-con {
        --align-self: flex-end;
    }

    .elementor-21917 .elementor-element.elementor-element-2a99e190 .elementor-icon {
        font-size: 30px;
    }

    .elementor-21917 .elementor-element.elementor-element-2a99e190 .elementor-icon svg {
        height: 30px;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
        padding: 0px 0px 0px 0px;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4.elementor-element {
        --align-self: flex-end;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-text-font-size);
    }
}

@media(max-width:767px) {
    .elementor-21917 .elementor-element.elementor-element-4cea5035 {
        --justify-content: space-between;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --gap: 20px 20px;
        --row-gap: 20px;
        --column-gap: 20px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 10px;
        --padding-right: 10px;
    }

    .elementor-21917 .elementor-element.elementor-element-4cea5035.e-con {
        --align-self: center;
    }

    .elementor-21917 .elementor-element.elementor-element-65399354 {
        --container-widget-width: 70%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 70%);
        max-width: 70%;
    }

    .elementor-21917 .elementor-element.elementor-element-3c6f5e0c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 15px 0px 15px;
    }

    .elementor-21917 .elementor-element.elementor-element-3c6f5e0c .elementor-icon {
        font-size: 30px;
    }

    .elementor-21917 .elementor-element.elementor-element-3c6f5e0c .elementor-icon svg {
        height: 30px;
    }

    .elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-primary-font-size);
    }

    .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
    .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-21917 .elementor-element.elementor-element-5e717115 {
        width: var(--container-widget-width, 16.033%);
        max-width: 16.033%;
        --container-widget-width: 16.033%;
        --container-widget-flex-grow: 0;
    }

    .elementor-21917 .elementor-element.elementor-element-5e717115.elementor-element {
        --align-self: center;
    }

    .elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-21917 .elementor-element.elementor-element-3c850fa4 {
        --width: 60%;
        --flex-direction: column;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --justify-content: space-between;
        --align-items: flex-end;
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --border-radius: 20px 0px 0px 20px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
        --z-index: 99;
    }

    .elementor-21917 .elementor-element.elementor-element-3c850fa4.e-con {
        --align-self: flex-end;
    }

    .elementor-21917 .elementor-element.elementor-element-2a99e190 .elementor-icon-wrapper {
        text-align: right;
    }

    .elementor-21917 .elementor-element.elementor-element-2a99e190 .elementor-icon {
        font-size: 20px;
    }

    .elementor-21917 .elementor-element.elementor-element-2a99e190 .elementor-icon svg {
        height: 20px;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4 {
        width: var(--container-widget-width, 100%);
        max-width: 100%;
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
        padding: 1px 1px 1px 1px;
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4.elementor-element {
        --align-self: flex-end;
        --flex-grow: 0;
        --flex-shrink: 1;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 0px;
    }

    .elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-21917 .elementor-element.elementor-element-61d098d4 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-text-font-size);
    }
}

/* Start custom CSS for icon, class: .elementor-element-65399354 */
#logo {
    max-width: 305px;
}

/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-3c6f5e0c */
@media (min-width: 1025px) {
    .botao-popup {
        display: none;
    }
}

/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-5e717115 */
.elementor-21917 .elementor-element.elementor-element-5e717115 .contact-button {
    align-items: center;
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .contact-button a {
    color: #ffffff !important;
    padding: 15px 10px !important;
    background-color: #0a9c66 !important;
    width: fit-content !important;
    max-height: 20px !important;
    margin-left: 15px !important;
    border-radius: 5px;
}

.elementor-21917 .elementor-element.elementor-element-5e717115 .contact-button a:hover {
    background-color: var(--e-global-color-secondary) !important;
}

@media (min-width: 1024px) and (max-width: 1290px) {
    #logo {
        width: 20%;
    }

    .elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-item {
        padding: 5px 10px;
    }

    .contact-button a {
        padding: 5px 5px !important;
        margin-left: 0px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1040px) {
    #logo {
        width: 30%;
    }

    .elementor-21917 .elementor-element.elementor-element-5e717115 .elementor-item {
        font-size: 0.8em !important;
        padding: 5px 10px;
    }
}

@media (max-width: 340px) {
    #logo {
        width: 65%;
    }
}

.sub-menu .elementor-sub-item {
    background-color: var(--e-global-color-e870969) !important;
    width: fit-content !important;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 #00000050;
}

.sub-menu .elementor-sub-item:hover {
    background-color: var(--e-global-color-accent) !important;
}

.sub-menu .elementor-item-active {
    background-color: var(--e-global-color-secondary) !important;
}

.sub-menu .elementor-item-active:hover {
    background-color: var(--e-global-color-accent) !important;
}

/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-61d098d4 */
.contact-button {
    display: flex !important;
    align-items: center;
    justify-content: end !important;
}


@media (max-width: 768px) {
    .contact-button a {
        margin-top: 10px !important;
    }
}


#menu-mob .sub-menu {
    margin-top: 0 !important;
    margin-left: -60% !important;
    right: 0 !important;
}

#menu-mob .sub-menu li {
    display: flex !important;
    justify-content: end !important;
}

/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-3c850fa4 */
.popup {
    opacity: 0;
    position: absolute;
    right: -100%;
    transition: .5s;
    max-width: 220px;
}

.popup.ativo {
    opacity: 1;
    right: 0;
}

/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-7e3127b3 */
.menu {
    z-index: 98;
    position: fixed;
    transition: 0.5s;
    transform: translatey(-100%);
}

.menu-ativo {
    transform: translatey(0);
}

.menu #header {
    transition: 0.5s;
}

.menu #header.padding {
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .menu {
        transform: translatey(-130%);
    }

    .menu-ativo {
        transform: translatey(0);
    }

    .menu #header.padding {
        padding: 7px 10px;
    }
}

/* End custom CSS */